@using Diary.ViewModels;
@model LoginVM;

@{
	ViewData["Title"] = "Вход";
}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/css-login.css" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
    <section class="vh-100 bg-image login__page" style="widows=100vw">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Вход</h2>

                                <form asp-action="Login" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label asp-for="Username" class="form-label" for="form3Example1cg">Имя</label>
                                        <input asp-for="Username" id="form3Example1cg" class="form-control form-control-lg" />
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label asp-for="Password" class="form-label" for="form3Example4cg">Пароль</label>
                                        <input asp-for="Password" id="form3Example4cg" class="form-control form-control-lg" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="checkbox" id="TermOfService" name="TermOfService" class="form-check-input me-2" type="checkbox" value="null" id="form2Example3cg" />
                                        <label class="form-label" for="form3Example4cdg">Запомнить меня</label>
                                        
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <input type="submit" value="Вход"
                                               data-mdb-button-init data-mdb-ripple-init class="button blue font__whitesmoke button-reg">
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">
                                        Еще не зарегистрированы?
                                        <a asp-action="Registration"
                                           class="fw-bold text-body"><u>Создать аккаунт сейчас</u></a>
                                    </p>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
				<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
		<script>$(".phone").mask("9(999)999-9999");</script>
	</body>
</html>

@section Scripts{
	@{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
