@using Diary.ViewModels;
@model RegisterVM;

@{
	ViewData["Title"] = "Регистрация";
}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="~/css/main.css" />
		<link rel="stylesheet" href="~/css/css-registration.css" />
        <link href="~/css/registration.css" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
        </head>
    <body>
	<section class="vh-100 bg-image registration_page">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Регистрация</h2>

              <form asp-action="Registration" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div data-mdb-input-init class="form-outline mb-4">
                  <label asp-for="Name" class="form-label" for="form3Example1cg">Имя</label>
                  <input asp-for="Name" id="form3Example1cg" class="form-control form-control-lg" />
                  <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <label asp-for="Email" class="form-label" for="form3Example3cg">Email</label>
                  <input asp-for="Email" id="form3Example3cg" class="form-control form-control-lg" />
                  <span asp-validation-for="Email" class="text-danger" ></span>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <label asp-for="Password" class="form-label" for="form3Example4cg">Пароль</label>
                                        <div style="display:flex">
                                            <input asp-for="Password" id="pass_log_id" class="form-control form-control-lg" />
                                            <img src="~/img/eye.svg" style="cursor:pointer;width:32px" toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password">
                                        </div>
                  <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <label asp-for="ConfirmPassword" class="form-label" for="form3Example4cdg">Подтвердите пароль</label>
                                        <div style="display:flex">
                                            <input asp-for="Password" id="pass_log_id2" class="form-control form-control-lg" />
                                            <img src="~/img/eye.svg" style="cursor:pointer;width:32px" toggle="#password-field" class="fa fa-fw2 fa-eye2 field_icon toggle-password2">
                                        </div>
                  <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input type="checkbox" id="TermOfService" name="TermOfService" class="form-check-input me-2" type="checkbox" value="null" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    Я соглашаюсь с <a asp-action="Privacy_policy" class="text-body"><u>Политикой конфиденциальности</u></a>
                  </label>
                  <br />
                  <span asp-validation-for="TermOfService" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-center">
                  <input type="submit" value="Регистрация"
                    data-mdb-button-init data-mdb-ripple-init class="button blue font__whitesmoke button-reg animation">
                </div>

                <p class="text-center text-muted mt-5 mb-0">Уже есть аккаунт? 
                    <a asp-action="Login"
                    class="fw-bold text-body"><u>Войти сейчас</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
        <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
		<script>$(".phone").mask("9(999)999-9999");</script>
        <script src="~/js/main.js"></script>
	</body>
</html>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}