@using Diary.ViewModels;
@model RegisterVM;

@{
	ViewData["Title"] = "Регистрация";
}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="~/css/main.css" />
		<link rel="stylesheet" href="~/css/css-registration.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<title>Регистрация</title>
	</head>

	<body>
		<head>
		</head>
		<main class="centrier__main">
			
				<div class="registration__panel">
					<div class="registration__window">
						<div class="div-ctrl-input">
							<form asp-action="Registration" method="post">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
								<div>
                            <input asp-for="Name" placeholder="Логин" class="login__id vw-35 ctrl-input" />
							<span asp-validation-for="Name"></span>
								</div>
								<div>
                            <input asp-for="Email" placeholder="E-mail" class="email__id vw-35 ctrl-input" />
							<span asp-validation-for="Email"></span>
								</div>
								<div>
                            <input asp-for="Password" placeholder="Пароль" class="restore__password__id vw-35 ctrl-input" />
							<span asp-validation-for="Password"></span>
								</div>
								<div>
							<input asp-for="ConfirmPassword" placeholder="Подтвердите пароль" class="restore__password__id vw-35 ctrl-input" />
							<span asp-validation-for="ConfirmPassword"></span>
								</div>
								<div>
							<textarea asp-for="Adress" placeholder="Адрес" class="restore__password__id vw-35 ctrl-input" rows="2" /></textarea>
							<span asp-validation-for="Adress"></span>
								</div>
						<div class="button-registrat">
                            <a asp-action="Login" class="helpers button blue font__whitesmoke">Есть аккаунт?</a>
                            <input type="submit" class="go__reg button blue font__whitesmoke">
                        </div>
							</form>
						</div>
						
					</div>
				</div>
			
		</main>
				<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
		<script>$(".phone").mask("9(999)999-9999");</script>
	</body>
</html>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}