<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Контакты</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/contacts.css">
</head>
<body>
<head>
      <main>
        <div class="container__cont">
          <div class="locate__content">
            <div class="content__text"><span>Контакты:</span></div>
            <div class="content__card">
              <div class="card"><div><img class="br-50" src="~/img/Rectangle.png" alt="foto1" align="middle"></div><div class="d-text"><p>Владелец</p><p><a href="#">Шиндин Даниил</a></p></div>
            </div>
              <div class="card"><div><img class="br-50" src="~/img/Rectangle.png" alt="foto1" align="middle"></div><div class="d-text"><p>Со-Владелец</p><p><a href="#">Кошкаровский Никита</a></p></div>
            </div>
              <div class="card"><div><img class="br-50" src="/img/Rectangle.png" alt="foto1" align="middle"></div><div class="d-text"><p>none</p><p><a href="#">None</a></p></div>
            </div>
            </div>
          </div>
        </div>
      </main>
		</head>
</body>
</html>