<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Политика конфиденциальности</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="~/css/main.css" />
		<link rel="stylesheet" href="~/css/privacy.css" />
	</head>

	<body>

		<main>
			<div class="page__head">
				<div class="container">
					<div class="path">
						<a href="~/home/index">Главная</a> →
						<a href="~/home/privacy-policy">Политика конфиденциальности</a>
						<h1>Политика конфиденциальности</h1>
					</div>
				</div>
			</div>
			<div class="container">
				<p>г. Пенза, «15» апреля 2024 г.</p>

				<p>
					Настоящая Политика конфиденциальности персональных данных (далее –
					Политика конфиденциальности) действует в отношении всей информации,
					которую сайт «Региональный интернет-дневник» (далее Сайт),
					расположенный на доменном имени *href*, может получить о
					Пользователе во время использования Сайта, а так же во время
					использования программ и продуктов Сайта.
				</p>

				<p>
					<strong>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</strong><br />
					1.1. В настоящей Политике конфиденциальности используются следующие
					термины:<br />
					1.1.1. Администрация сайта «Региональный интернет-дневник» (далее –
					Администрация сайта) — уполномоченные сотрудники на управления сайтом,
					действующие от имени ГАПОУ ПО ПКИПТ (Ит-колледж), которые организуют и (или) осуществляет обработку
					персональных данных, а также определяет цели обработки персональных
					данных, состав персональных данных, подлежащих обработке, действия
					(операции), совершаемые с персональными данными.<br />
					1.1.2. Персональные данные — любая информация, относящаяся к прямо или
					косвенно определенному или определяемому физическому лицу (субъекту
					персональных данных).<br />
					1.1.3. Обработка персональных данных — любое действие (операция) или
					совокупность действий (операций), совершаемых с использованием средств
					автоматизации или без использования таких средств с персональными
					данными, включая сбор, запись, систематизацию, накопление, хранение,
					уточнение (обновление, изменение), извлечение, использование, передачу
					(распространение, предоставление, доступ), обезличивание,
					блокирование, удаление, уничтожение персональных данных.<br />
					1.1.4. Конфиденциальность персональных данных — обязательное для
					соблюдения Оператором или иным получившим доступ к персональным данным
					лицом требование не допускать их распространения без согласия субъекта
					персональных данных или наличия иного законного основания.<br />
					1.1.5. Пользователь сайта «Региональный интернет-дневник» (далее -
					Пользователь) — лицо, имеющее доступ к Сайту, посредством сети
					Интернет и использующее Сайт.<br />
					1.1.6. Cookies — небольшой фрагмент данных, отправленный веб-сервером
					и хранимый на компьютере пользователя, который веб-клиент или
					веб-браузер каждый раз пересылает веб- серверу в HTTP-запросе при
					попытке открыть страницу соответствующего сайта.<br />
					1.1.7. IP-адрес — уникальный сетевой адрес узла в компьютерной сети,
					построенной по протоколу IP.<br />
					1.1.8. Партнеры – физические или юридические лица, которые на основе
					партнерских соглашений реализуют продукты или услуги, направленные на
					расширение способов доступа к информации Сайта и использующие
					информацию Сайта.
				</p>

				<p>
					<strong>2. ОБЩИЕ ПОЛОЖЕНИЯ</strong><br />
					2.1. Использование Пользователем Сайта означает согласие с настоящей
					Политикой конфиденциальности и условиями обработки персональных данных
					Пользователя.<br />
					2.2. В случае несогласия с условиями Политики конфиденциальности
					Пользователь должен прекратить использование Сайта.<br />
					2.3. Настоящая Политика конфиденциальности применяется только к сайту
					«Региональный интернет-дневник». «Региональный интернет-дневник» не
					контролирует и не несет ответственность за сайты третьих лиц, на
					которые Пользователь может перейти по ссылкам, доступным на сайте
					«Региональный интернет-дневник».<br />
					2.4. Администрация сайта не проверяет достоверность персональных
					данных, предоставляемых Пользователем Сайта.
				</p>

				<p>
					<strong>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</strong><br />
					3.1. Настоящая Политика конфиденциальности устанавливает обязательства
					Администрации Cайта по неразглашению и обеспечению режима защиты
					конфиденциальности персональных данных, которые Пользователь
					предоставляет в момент регистрации или при заполнении личного
					профиля.<br />
					3.2. Персональные данные, разрешенные к обработке в рамках настоящей
					Политики конфиденциальности, предоставляются Пользователем путем
					заполнения регистрационной формы на Сайте в разделе «Регистрация
					родителей» и включают в себя следующую информацию:<br />
					3.2.1. Фамилию, имя, отчество Пользователя;<br />
					3.2.2. Контактный телефон Пользователя;<br />
					3.2.3. Адрес электронной почты (e-mail);<br />
					3.2.4. Место жительство Пользователя,<br />
					или путем заполнения личного профиля в разделе «Личные настройки» и
					включают в себя следующую информацию:<br />
					3.2.5. Фамилию, имя, отчество Пользователя;<br />
					3.2.6. Контактный телефон Пользователя;<br />
					3.2.7. Адрес электронной почты (e-mail);<br />
					3.2.8. Фото или другое изображение.<br />
					Личные профиль заполняется по желанию Пользователя и не является
					обязательным условием для использования Сайта.<br />
					3.3. Сайт осуществляет сбор статистики об IP-адресах своих
					посетителей. Данная информация используется с целью выявления и
					решения технических проблем, а так же для формирования статистики
					посещений.<br />
					3.4. Любая иная персональная информация не оговоренная выше
					(используемые браузеры и операционные системы и т.д.) подлежит
					надежному хранению и нераспространению, за исключением случаев,
					предусмотренных в п. 5.2. настоящей Политики конфиденциальности.
				</p>

				<p>
					<strong>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</strong
					><br />
					4.1. Персональные данные Пользователя Администрация сайта может
					использовать в целях:<br />
					4.1.1. Идентификация Пользователя, зарегистрированного на Cайте.<br />
					4.1.2. Предоставление Пользователю доступа к персонализированным
					ресурсам Сайта, а так же к ресурсам Сайта предполагающим идентификацию
					Пользователя в процессе обмена информацией (обмен сообщениями).<br />
					4.1.3. Установление с Пользователем обратной связи, включая
					направление уведомлений, запросов, касающихся использования Сайта,
					оказания услуг, обработка запросов и заявок от Пользователя.<br />
					4.1.4. Предоставление Пользователю эффективной клиентской и
					технической поддержки при возникновении проблем связанных с
					использованием Сайта.<br />
					4.1.5. Предоставление Пользователю с его согласия, обновлений
					информации Сайта, новостной рассылки и иных сведений от имени
					Сайта.<br />
					4.1.6. Предоставление доступа Пользователю на сайты или сервисы
					партнеров с целью получения продуктов и услуг.
				</p>

				<p>
					<strong>5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</strong
					><br />
					5.1. Обработка персональных данных Пользователя осуществляется без
					ограничения срока, любым законным способом, в том числе в
					информационных системах персональных данных с использованием средств
					автоматизации или без использования таких средств.<br />
					5.2. Персональные данные Пользователя могут быть переданы
					уполномоченным органам государственной власти Российской Федерации
					только по основаниям и в порядке, установленным законодательством
					Российской Федерации.<br />
					5.3. При утрате или разглашении персональных данных Администрация
					сайта информирует Пользователя об утрате или разглашении персональных
					данных.<br />
					5.4. Администрация сайта принимает необходимые организационные и
					технические меры для защиты персональной информации Пользователя от
					неправомерного или случайного доступа, уничтожения, изменения,
					блокирования, копирования, распространения, а также от иных
					неправомерных действий третьих лиц.<br />
					5.5. Администрация сайта совместно с Пользователем принимает все
					необходимые меры по предотвращению убытков или иных отрицательных
					последствий, вызванных утратой или разглашением персональных данных
					Пользователя.<br />
					5.6. Персональные данные могут быть переданые Партнерам (на основании
					договоров и соглашений) при реализации ими продуктов и услуг
					направленных на расширение способов доступа пользователей к информации
					Сайта.<br />
					5.7. Администрация сайта осуществляет контроль за использованием
					персональных данных Партнерами (на основании договоров и соглашений)
					при реализации ими продуктов и услуг, использующих данные Сайта.
				</p>

				<p>
					<strong>6. ОБЯЗАТЕЛЬСТВА СТОРОН</strong><br />
					6.1. Пользователь обязан:<br />
					6.1.1. Обеспечить сохранность идентификационных данных (логина и
					пароля) и недопущение доступа к ним третьих лиц.<br />
					6.2. Администрация сайта обязана:<br />
					6.2.1. Использовать полученную информацию исключительно для целей,
					указанных в п. 4 настоящей Политики конфиденциальности.<br />
					6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не
					разглашать без предварительного письменного разрешения Пользователя, а
					также не осуществлять продажу, обмен, опубликование, либо разглашение
					иными возможными способами переданных персональных данных
					Пользователя, за исключением п. 5.2. настоящей Политики
					конфиденциальности.<br />
					6.2.3. Принимать меры предосторожности для защиты конфиденциальности
					персональных данных Пользователя согласно порядку, обычно
					используемого для защиты такого рода информации в существующем деловом
					обороте.<br />
					6.2.4. Осуществить блокирование персональных данных, относящихся к
					соответствующему Пользователю, с момента обращения или запроса
					Пользователя или его законного представителя либо уполномоченного
					органа по защите прав субъектов персональных данных на период
					проверки, в случае выявления неправомерных действий.
				</p>

				<p>
					<strong>7. ОТВЕТСТВЕННОСТЬ СТОРОН</strong><br />
					7.1. Администрация сайта, не исполнившая свои обязательства, несет
					ответственность за убытки, понесенные Пользователем в связи с
					неправомерным использованием персональных данных, в соответствии с
					законодательством Российской Федерации, за исключением случаев,
					предусмотренных п.п. 5.2., 7.2. настоящей Политики
					конфиденциальности.<br />
					7.2. В случае утраты или разглашения Конфиденциальной информации
					Администрация сайта не несет ответственность, если данная
					конфиденциальная информация:<br />
					7.2.1. Стала публичной до ее утраты или разглашения.<br />
					7.2.2. Была получена от третьей стороны до момента ее получения
					Администрацией сайта.<br />
					7.2.3. Была разглашена с согласия Пользователя.
				</p>

				<p>
					<strong>8. РАЗРЕШЕНИЕ СПОРОВ</strong><br />
					8.1. До обращения в суд с иском по спорам, возникающим из отношений
					между Пользователем сайта и Администрацией сайта, обязательным
					является предъявление претензии (письменного предложения о
					добровольном урегулировании спора).<br />
					8.2 .Получатель претензии в течение 30 календарных дней со дня
					получения претензии, письменно уведомляет заявителя претензии о
					результатах рассмотрения претензии.<br />
					8.3. При не достижении соглашения спор может быть передан на
					рассмотрение в судебный орган в соответствии с действующим
					законодательством Российской Федерации.<br />
					8.4. К настоящей Политике конфиденциальности и отношениям между
					Пользователем и Администрацией сайта применяется действующее
					законодательство Российской Федерации.
				</p>

				<p>
					<strong>9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</strong><br />
					9.1. Администрация сайта вправе вносить изменения в настоящую Политику
					конфиденциальности без согласия Пользователя.<br />
					9.2. Новая Политика конфиденциальности вступает в силу с момента ее
					размещения на Сайте, если иное не предусмотрено новой редакцией
					Политики конфиденциальности.<br />
					9.3. Все предложения или вопросы по настоящей Политике
					конфиденциальности следует сообщать на электронный адрес
					info@it-cube-diary.ru.<br />
					9.4. Действующая Политика конфиденциальности размещена на странице по
					адресу
					<a href="#"
						>#</a
					>
				</p>

				<p>Обновлено «21» апреля 2024 г.</p>
			</div>
		</main>
	</body>
</html>
